<table class="table table-sm table-borderless table-responsive">
    <tr>
        <th>Email:</th>
        <td><a href="mailto:barak.itkin@gmail.com" title="Email me"><i class="far fa-envelope"></i> barak.itkin@gmail.com</a></td>
    </tr>
    <tr>
        <th>Twitter:</th>
        <td><a href="https://twitter.com/BarakItkin" title="My Twitter profile"><i class="fab fa-twitter"></i> @BarakItkin</a></td>
    </tr>
    <tr>
        <th>GitHub:</th>
        <td><a href="https://github.com/barak-itkin/" title="My GitHub profile"><i class="fab fa-github"></i> barak-itkin</a></td>
    </tr>
    <tr>
        <th>LinkedIn:</th>
        <td><a href="https://linkedin.com/in/barakitkin/" title="My LinkedIn profile"><i class="fab fa-linkedin"></i> barakitkin</a></td>
    </tr>
    <tr>
        <th>Scholar:</th>
        <td><a href="https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=2SEwRGIAAAAJ" title="My Google Scholar profile"><i class="fab fa-user-graduate"></i> Barak Itkin (Google Scholar)</a></td>
    </tr>
    <tr>
        <th>Facebook:</th>
        <td><a href="https://www.facebook.com/barak.itkin" title="My Facebook profile"><i class="fab fa-facebook"></i> barak.itkin</a></td>
    </tr>
</table>
