body {
    background-color: #cfe2f3ff;
    font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Secular One', sans-serif;
}

.subtitle {
    font-family: 'Architects Daughter', cursive;
}

a {
    color: #e31157;
}

a:hover {
    color: #f64c85;
}

a:visited {
    color: #d22861;
}
